Repository williamzujkowski/standards: changes, and which pre-commit hooks are due for each by the changed paths.
All: standards-metadata, manifest-validation, cross-references, token-efficiency

standards-metadata:
  name: Validate standards metadata
  entry: python lint/standards-linter.py
  language: python
  additional_dependencies:
  - pyyaml
  - requests
  pass_filenames: false

manifest-validation:
  name: Validate MANIFEST.yaml integrity
  entry: python tests/validate_cross_references.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  args:
  - --check-manifest-only

cross-references:
  name: Validate document cross-references
  entry: python tests/validate_cross_references.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  args:
  - --check-links-only

token-efficiency:
  name: Analyze token efficiency
  entry: python tests/validate_token_efficiency.py
  language: python
  pass_filenames: false
  args:
  - --summary-only

fix: resolve Jekyll and GitHub Pages gem compatibility issues
  .github/workflows/deploy-pages.yml
  docs/Gemfile
  docs/_config.yml
Due: none

fix: add missing Jekyll layouts and repository configuration
  docs/_config.yml
  docs/_layouts/guide.html
  docs/_layouts/standard.html
Due: none

fix: wrap dbt macro examples with raw tags to prevent Jekyll Liquid errors
  docs/standards/DATA_ENGINEERING_STANDARDS.md
Due: standards-metadata, cross-references, token-efficiency

fix: wrap all dbt config blocks with raw tags to prevent Jekyll processing
  docs/standards/DATA_ENGINEERING_STANDARDS.md
Due: standards-metadata, cross-references, token-efficiency

fix: wrap all template syntax in raw tags to prevent Jekyll Liquid processing
  docs/standards/DATA_ENGINEERING_STANDARDS.md
  docs/standards/DEVOPS_PLATFORM_STANDARDS.md
  docs/standards/FRONTEND_MOBILE_STANDARDS.md
Due: standards-metadata, cross-references, token-efficiency

fix: wrap React Navigation code with raw tags to prevent Jekyll errors
  docs/standards/FRONTEND_MOBILE_STANDARDS.md
Due: standards-metadata, cross-references, token-efficiency

feat: Migrate from Jekyll to MkDocs with Material theme
  .github/workflows/deploy-mkdocs.yml
  .github/workflows/deploy-pages.yml
  MIGRATION_LOG.md
  docs/Gemfile
  docs/Gemfile.local
  docs/_config.yml
  docs/_includes/head-custom.html
  docs/_layouts/default.html
  docs/_layouts/guide.html
  docs/_layouts/home.html
  docs/_layouts/standard.html
  docs/assets/css/style.scss
  docs/assets/js/search.js
  docs/index.md
  docs/search.json
  docs/standards/DATA_ENGINEERING_STANDARDS.md
  docs/standards/DEVOPS_PLATFORM_STANDARDS.md
  docs/standards/FRONTEND_MOBILE_STANDARDS.md
  mkdocs.yml
  reports/generated/linkcheck.txt
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
  requirements.txt
  tests/validate-pages.spec.js
Due: standards-metadata, cross-references, token-efficiency

docs: Add MkDocs documentation section to README
  README.md
Due: cross-references

fix: Update MkDocs workflow and configuration
  .github/workflows/deploy-mkdocs.yml
  MIGRATION_LOG.md
  mkdocs.yml
Due: cross-references

fix: Final workflow fixes for MkDocs migration
  .gitignore
  config/product-matrix.yaml
Due: none

fix: Final MkDocs migration fixes with latest dependencies
  .github/workflows/deploy-mkdocs.yml
  requirements.txt
Due: none

fix: Exclude site/ directory from whitespace checks
  scripts/check_whitespace.sh
Due: none

fix: Final YAML linting fixes
  .github/ISSUE_TEMPLATE/standards_proposal.yml
  mkdocs.yml
Due: none

feat: improve documentation homepage with comprehensive content
  .playwright-mcp/standards-homepage-current.png
  docs/README.md
  mkdocs.yml
Due: cross-references

fix: apply pre-commit hook fixes
  MIGRATION_LOG.md
  README.md
  docs/README.md
  reports/generated/linkcheck.txt
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
  requirements.txt
Due: cross-references

fix: exclude mkdocs.yml from pre-commit YAML validation
  .pre-commit-config.yaml
Due: none

fix: comprehensive homepage and navigation improvements
  .playwright-mcp/homepage-current-state.png
  .playwright-mcp/homepage-visual.png
  docs/index.md
  mkdocs.yml
Due: cross-references

fix: address audit gates and pre-commit failures
  config/audit-rules.yaml
  docs/README.md
  docs/index.md
  reports/generated/hub-matrix.tsv
  reports/generated/linkcheck.txt
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
Due: cross-references

fix: resolve final pre-commit issues
  .pre-commit-config.yaml
  docs/index.md
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
Due: cross-references

chore: cleanup
  MIGRATION_LOG.md
Due: cross-references

chore: add missing skill documentation files
  skills/compliance/fintech/README.md
  skills/compliance/healthtech/README.md
  skills/compliance/healthtech/resources/breach-response-playbook.md
  skills/compliance/healthtech/scripts/audit-log-analyzer.py
  skills/security/security-operations/resources/nist-ir-controls.md
  skills/security/security-operations/templates/post-incident-report.md
  skills/security/security-operations/templates/security-metrics-dashboard.json
Due: cross-references

fix: audit gates now pass - implement link_check exclusions
  config/audit-rules.yaml
  examples/nist-templates/quickstart/hub-matrix.tsv
  examples/nist-templates/quickstart/linkcheck.txt
  examples/nist-templates/quickstart/structure-audit.json
  reports/generated/PHASE4_COMPLETION_REPORT.md
  reports/generated/linkcheck.txt
  reports/generated/structure-audit.json
  scripts/generate-audit-reports.py
Due: cross-references

fix: update pre-commit config and auto-fix formatting
  .pre-commit-config.yaml
  .yamllint.yaml
  reports/generated/PHASE3_EXECUTION_PLAN.md
  reports/generated/script-coverage.json
  reports/generated/standards-inventory.json
  skills/api/graphql/SKILL.md
  skills/devops/monitoring-observability/SKILL.md
  skills_alignment.md
  tests/scripts/fixtures/skills/referenced-skill/SKILL.md
Due: cross-references

fix: exclude test files from ESLint
  .pre-commit-config.yaml
Due: none

fix: resolve all workflow failures identified by swarm investigation
  .gitleaksignore
  .pre-commit-config.yaml
  docs/reports/pre-commit-failure-analysis.md
  reports/generated/gitleaks-secret-scanning-analysis.md
  skills/security/zero-trust/templates/network-policy.yaml
  tests/test_redundancy.py
Due: cross-references

fix: correct gitleaks and yamllint configurations
  .gitleaks.toml
  .yamllint.yaml
  skills/security/zero-trust/templates/network-policy.yaml
Due: none

fix: broaden yamllint ignore and fix comment spacing
  .yamllint.yaml
  config/audit-rules.yaml
Due: none

fix: resolve all markdown style violations
  docs/guides/SKILL_AUTHORING_GUIDE.md
  docs/migration/phase1-gate-checklist.md
  docs/migration/phase1-progress-tracker.md
  docs/migration/phase2-gate-checklist.md
  docs/migration/phase2-progress-tracker.md
  skills/frontend/react/SKILL.md
  skills/security/zero-trust/resources/nist-800-207-checklist.md
  skills_alignment.md
Due: cross-references

fix: exclude template and test files from ruff linting
  .pre-commit-config.yaml
Due: none

cleanup: remove vestigial content and fix documentation accuracy
  .gitignore
  .playwright-mcp/homepage-current-state.png
  .playwright-mcp/homepage-visual.png
  .playwright-mcp/standards-homepage-current.png
  CLAUDE.md
  README.md
  docs/README.md
  docs/SKILLS_CATALOG.md
  docs/guides/CLAUDE_INTEGRATION_GUIDE.md
  docs/guides/SKILLS_QUICK_START.md
  docs/guides/SKILLS_USER_GUIDE.md
  docs/migration/MIGRATION_GUIDE.md
  examples/README.md
  reports/generated/cleanup-validation-report.md
  reports/generated/documentation-accuracy-audit.md
  reports/generated/documentation-corrections-checklist.md
  reports/generated/documentation-review-executive-summary.md
  reports/generated/linkcheck.txt
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
  reports/generated/vestigial-content-executive-summary.md
  reports/generated/vestigial-content-safety-validation.md
  scripts/validate-documentation-accuracy.sh
  skills/security/authentication/skills/security/authentication/SKILL.md
Due: cross-references

fix: apply pre-commit auto-formatting
  reports/generated/cleanup-validation-report.md
  reports/generated/documentation-accuracy-audit.md
  reports/generated/documentation-corrections-checklist.md
  reports/generated/documentation-review-executive-summary.md
  reports/generated/structure-audit.json
  reports/generated/vestigial-content-executive-summary.md
  reports/generated/vestigial-content-safety-validation.md
Due: cross-references

fix: comprehensive cleanup and documentation accuracy improvements
  CLAUDE.md
  README.md
  docs/README.md
  docs/guides/CLAUDE_INTEGRATION_GUIDE.md
  docs/guides/SKILLS_QUICK_START.md
  docs/guides/SKILLS_USER_GUIDE.md
  docs/guides/STANDARDS_INDEX.md
  docs/migration/MIGRATION_GUIDE.md
  reports/generated/cleanup-validation-report.md
  reports/generated/documentation-accuracy-audit.md
  reports/generated/linkcheck.txt
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
  reports/generated/vestigial-content-analysis.md
Due: cross-references

fix: apply pre-commit auto-formatting and regenerate STANDARDS_INDEX
  docs/guides/STANDARDS_INDEX.md
  reports/generated/cleanup-validation-report.md
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
  reports/generated/vestigial-content-analysis.md
Due: cross-references

chore: update audit reports after cleanup
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
Due: cross-references

fix: apply pre-commit auto-formatting
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
Due: cross-references

fix: resolve critical blockers - test import and baseline context
  docs/migration/EXECUTIVE_SUMMARY.md
  docs/migration/phase1-approval-checklist.md
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
  scripts/skill_loader.py
Due: cross-references

Path conditions:
  standards-metadata: any of: _STANDARDS\.md$|UNIFIED_STANDARDS\.md$, but not: (?x)^(
    \.git/|
    node_modules/|
    \.venv/|
    venv/|
    \.mypy_cache/|
    \.pytest_cache/|
    __pycache__/|
    \.idea/|
    \.vscode/|
    dist/|
    build/|
    .*\.egg-info/|
    \.gitleaks-report\.json$|
    \.secrets\.baseline$
)$

  manifest-validation: any of: MANIFEST\.yaml$, but not: (?x)^(
    \.git/|
    node_modules/|
    \.venv/|
    venv/|
    \.mypy_cache/|
    \.pytest_cache/|
    __pycache__/|
    \.idea/|
    \.vscode/|
    dist/|
    build/|
    .*\.egg-info/|
    \.gitleaks-report\.json$|
    \.secrets\.baseline$
)$

  cross-references: any of: \.md$, but not: (?x)^(
    \.git/|
    node_modules/|
    \.venv/|
    venv/|
    \.mypy_cache/|
    \.pytest_cache/|
    __pycache__/|
    \.idea/|
    \.vscode/|
    dist/|
    build/|
    .*\.egg-info/|
    \.gitleaks-report\.json$|
    \.secrets\.baseline$
)$

  token-efficiency: any of: _STANDARDS\.md$, but not: (?x)^(
    \.git/|
    node_modules/|
    \.venv/|
    venv/|
    \.mypy_cache/|
    \.pytest_cache/|
    __pycache__/|
    \.idea/|
    \.vscode/|
    dist/|
    build/|
    .*\.egg-info/|
    \.gitleaks-report\.json$|
    \.secrets\.baseline$
)$

