Repository williamzujkowski/standards: changes, and which pre-commit hooks are due for each by the changed paths.
All: standards-metadata, manifest-validation, cross-references, token-efficiency

Path conditions:
  standards-metadata: any of: _STANDARDS\.md$|UNIFIED_STANDARDS\.md$, but not: (?x)^(
    \.git/|
    node_modules/|
    \.venv/|
    venv/|
    \.mypy_cache/|
    \.pytest_cache/|
    __pycache__/|
    \.idea/|
    \.vscode/|
    dist/|
    build/|
    .*\.egg-info/|
    \.gitleaks-report\.json$|
    \.secrets\.baseline$
)$

  manifest-validation: any of: MANIFEST\.yaml$, but not: (?x)^(
    \.git/|
    node_modules/|
    \.venv/|
    venv/|
    \.mypy_cache/|
    \.pytest_cache/|
    __pycache__/|
    \.idea/|
    \.vscode/|
    dist/|
    build/|
    .*\.egg-info/|
    \.gitleaks-report\.json$|
    \.secrets\.baseline$
)$

  cross-references: any of: \.md$, but not: (?x)^(
    \.git/|
    node_modules/|
    \.venv/|
    venv/|
    \.mypy_cache/|
    \.pytest_cache/|
    __pycache__/|
    \.idea/|
    \.vscode/|
    dist/|
    build/|
    .*\.egg-info/|
    \.gitleaks-report\.json$|
    \.secrets\.baseline$
)$

  token-efficiency: any of: _STANDARDS\.md$, but not: (?x)^(
    \.git/|
    node_modules/|
    \.venv/|
    venv/|
    \.mypy_cache/|
    \.pytest_cache/|
    __pycache__/|
    \.idea/|
    \.vscode/|
    dist/|
    build/|
    .*\.egg-info/|
    \.gitleaks-report\.json$|
    \.secrets\.baseline$
)$


fix: apply pre-commit auto-formatting
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
Due: cross-references

feat: add LLM-optimized kickstart templates and project planning system
  README.md
  docs/reports/kickstart-analysis.md
  docs/reports/kickstart-implementation-summary.md
  docs/reports/kickstart-validation.md
  docs/reports/template-architecture.md
  reports/generated/linkcheck.txt
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
  templates/KICKSTART_REPO.md
  templates/PROJECT_PLAN_TEMPLATE.md
  templates/README.md
Due: cross-references

fix: apply pre-commit auto-formatting to templates
  README.md
  docs/reports/kickstart-analysis.md
  docs/reports/kickstart-implementation-summary.md
  docs/reports/kickstart-validation.md
  docs/reports/template-architecture.md
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
  templates/KICKSTART_REPO.md
  templates/PROJECT_PLAN_TEMPLATE.md
  templates/README.md
Due: cross-references

docs: resolve 5 orphans by creating reports directory README
  docs/reports/README.md
  reports/generated/linkcheck.txt
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
Due: cross-references

chore: cleanup repository and enforce accuracy standards
  CHANGELOG.md
  CLAUDE.md
  GEMINI.md
  archive/reversion-project/ADR-SKILLS-REVERSION.md
  archive/reversion-project/CLEANUP_ARCHITECTURE_DIAGRAM.md
  archive/reversion-project/CLEANUP_STRATEGY_2025-10-25.md
  archive/reversion-project/POST-REVERSION-STATE.md
  archive/reversion-project/REVERSION_AUTOMATION_SUMMARY.md
  archive/reversion-project/REVERSION_GUIDE.md
  archive/reversion-project/REVERSION_SCRIPTS_GUIDE.md
  archive/reversion-project/SKILLS-REVERSION-RUNBOOK.md
  archive/reversion-project/TESTING_QUICK_START.md
  archive/reversion-project/backup-current-state.sh
  archive/reversion-project/expected-results-baseline.md
  archive/reversion-project/reversion-test-plan.md
  archive/reversion-project/reversion-test-report-template.md
  archive/reversion-project/revert-to-pre-skills.sh
  archive/reversion-project/rollback-reversion.sh
  archive/reversion-project/run-reversion-tests.sh
  archive/reversion-project/validate-reversion.sh
  archive/reversion-project/verify-reversion-scripts.sh
  docs/decisions/ADR-ACCURACY-CLEANUP.md
  docs/decisions/README.md
  docs/guides/CLEANUP_SCRIPTS_USAGE.md
  docs/guides/STANDARDS_INDEX.md
  docs/research/EXECUTIVE_SUMMARY.md
  docs/research/IMPACT_VISUALIZATION.md
  docs/research/INDEX.md
  docs/research/REVERSION_QUICK_REFERENCE.md
  docs/research/SKILLS_REFACTOR_REVERSION_ANALYSIS.md
  memory/hive/cleanup/vestigial_artifacts.md
  reports/generated/CLEANUP_REPORT.md
  reports/generated/hub-matrix.tsv
  reports/generated/linkcheck.txt
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
  scripts/cleanup-vestigial-artifacts.sh
  scripts/fix-documentation-accuracy.py
  scripts/validate-cleanup.sh
  tests/test-cleanup-scripts.sh
Due: cross-references

chore: cleanup repository and enforce accuracy standards
  .claude/settings.json
  README.md
  config/audit-rules.yaml
  docs/api/README.md
  docs/compliance/README.md
  docs/compliance/healthtech/README.md
  docs/guides/STANDARDS_INDEX.md
  docs/notes/README.md
  docs/optimization/README.md
  docs/runbooks/README.md
  docs/scripts/README.md
  examples/compliance/README.md
  examples/compliance/healthtech/README.md
  examples/nist-templates/quickstart/scripts/README.md
  examples/nist-templates/quickstart/scripts/tests/README.md
  reports/generated/linkcheck.txt
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
  scripts/add-universal-sections.py
  scripts/analyze-skills-compliance.py
  scripts/claude-doctor.py
  scripts/condense-aws-skill.py
  scripts/condense-k8s-skill.py
  scripts/fix-final-broken-links.py
  scripts/fix-final-readmes.py
  scripts/fix-hub-violations.py
  scripts/fix-remaining-links.py
  scripts/optimize-fintech-skill.py
  scripts/skill_loader.py
  scripts/sync-to-claude.sh
  scripts/tests/README.md
  scripts/tests/test_hub_enforcement.py
  tests/unit/README.md
Due: cross-references

fix(security): update vulnerable npm dependencies
  standards/compliance/package-lock.json
  standards/compliance/package.json
Due: none

fix(ci): fix remaining CI failures
  archive/old-reports/PHASE3_SKILLS_SUMMARY.md
  archive/old-reports/PHASE4_COMPLETION_REPORT.md
  archive/old-reports/cleanup-validation-report.md
  docs/guides/SKILLS_USER_GUIDE.md
  docs/research/EXECUTIVE_SUMMARY.md
  docs/research/INDEX.md
Due: cross-references

fix(ci): fix markdownlint and isort issues
  .markdownlint.yaml
  archive/planning-docs/claude_improvements.md
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_cleanup.py
  tests/integration/test_command_syntax_fix.py
  tests/integration/test_router_edge_cases.py
  tests/integration/test_router_paths.py
  tests/integration/test_router_validation.py
  tests/unit/test_load_directive_parser.py
Due: cross-references

fix(ci): disable MD041 rule for SKILL.md frontmatter compatibility
  .markdownlint.yaml
Due: none

fix(ci): add .markdownlintignore for archive and generated files
  .markdownlintignore
Due: none

fix(ci): resolve multiple workflow and test failures
  .github/workflows/daily-health-check.yml
  .github/workflows/nist-compliance.yml
  .github/workflows/repository-health.yml
  .github/workflows/standards-validation.yml
  .gitleaks.toml
  config/audit-rules.yaml
  tests/validation/test_documentation.py
  tests/validation/test_skills.py
Due: none

chore: update all dependencies to latest stable versions
  .github/workflows/auto-fix-whitespace.yml
  .github/workflows/auto-summaries.yml
  .github/workflows/daily-health-check.yml
  .github/workflows/lint-and-validate.yml
  .pre-commit-config.yaml
  requirements.txt
Due: none

fix(ci): resolve ruff linting errors and add node_modules exclusions
  config/audit-rules.yaml
  pyproject.toml
  tests/validation/test_skills_content_quality.py
Due: none

fix(ci): disable MD060 rule for markdown table formatting
  .markdownlint.yaml
Due: none

fix: resolve multiple documentation and config issues
  docs/standards/CODING_STANDARDS.md
  examples/README.md
  skills/coding-standards/python/resources/configs/pyproject.toml
Due: standards-metadata, cross-references, token-efficiency

chore: update audit reports after hub links fix
  reports/generated/linkcheck.txt
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
Due: cross-references

chore: add Dependabot configuration for automated updates
  .github/dependabot.yml
Due: none

fix: add UP038 ignore for examples directory
  pyproject.toml
Due: none

fix(gitleaks): add REFERENCE.md to allowlist for example credentials
  .gitleaks.toml
Due: none

fix(tests): update validation tests to align with Anthropic skills.md format
  tests/validation/test_skills.py
Due: none

fix(tests): make documentation tests more tolerant
  tests/validation/test_documentation.py
Due: none

fix(ci): add pytest-xdist to Integration Workflow Validation job
  .github/workflows/validation.yml
Due: none

style: apply ruff formatting to test files
  reports/generated/linkcheck.txt
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
  tests/validation/test_documentation.py
  tests/validation/test_skills.py
Due: cross-references

fix(pre-commit): exclude .swarm and nested node_modules from large file check
  .pre-commit-config.yaml
Due: none

fix(tests): mark token budget tests as xfail pending Issue #42
  tests/validation/test_skills_token_budget.py
Due: none

fix(tests): mark skills structure and content tests as xfail
  tests/validation/test_skills_content_quality.py
  tests/validation/test_skills_structure.py
Due: none

style: fix ruff import spacing
  tests/validation/test_skills_content_quality.py
  tests/validation/test_skills_structure.py
  tests/validation/test_skills_token_budget.py
Due: none

fix(validation): improve validate-claims.py accuracy
  CLAUDE.md
  reports/generated/structure-audit.json
  scripts/validate-claims.py
Due: cross-references

fix(tests): add xfail markers for RED PHASE TDD tests
  reports/generated/structure-audit.json
  tests/conftest.py
  tests/integration/test_cleanup.py
  tests/integration/test_command_syntax_fix.py
  tests/integration/test_router_edge_cases.py
  tests/integration/test_router_paths.py
  tests/scripts/fixtures/skills/referenced-skill/SKILL.md
  tests/scripts/test_discover_skills.py
  tests/scripts/test_generate_skill.py
  tests/scripts/test_skill_loader.py
  tests/scripts/test_token_counter.py
  tests/test_skill_loader_comprehensive.py
  tests/unit/test_load_directive_parser.py
Due: cross-references

style: fix pre-commit formatting issues
  reports/generated/structure-audit.json
  tests/integration/test_cleanup.py
  tests/integration/test_command_syntax_fix.py
  tests/scripts/fixtures/skills/referenced-skill/SKILL.md
  tests/unit/test_load_directive_parser.py
Due: cross-references

refactor(ci): consolidate redundant workflows (Issue #24)
  .github/workflows/lint-and-validate.yml
  .github/workflows/redundancy-check.yml
  .github/workflows/repository-health.yml
  .github/workflows/standards-validation.yml
  .github/workflows/validation.yml
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
  scripts/generate-audit-reports.py
  tests/scripts/fixtures/skills/referenced-skill/SKILL.md
Due: cross-references

fix: add trailing newline to fixture file
  tests/scripts/fixtures/skills/referenced-skill/SKILL.md
Due: cross-references

feat(skills): populate 19 stub skills with Level 1/2/3 structure
  scripts/fix-skill-frontmatter.py
  scripts/populate-stub-skills.py
  skills/architecture/patterns/SKILL.md
  skills/compliance/gdpr/SKILL.md
  skills/compliance/nist/SKILL.md
  skills/content/documentation/SKILL.md
  skills/data-engineering/orchestration/SKILL.md
  skills/database/nosql/SKILL.md
  skills/database/sql/SKILL.md
  skills/design/ux/SKILL.md
  skills/devops/infrastructure/SKILL.md
  skills/devops/monitoring/SKILL.md
  skills/frontend/mobile-android/SKILL.md
  skills/frontend/mobile-ios/SKILL.md
  skills/microservices/patterns/SKILL.md
  skills/ml-ai/model-deployment/SKILL.md
  skills/ml-ai/model-development/SKILL.md
  skills/observability/logging/SKILL.md
  skills/observability/metrics/SKILL.md
  skills/security/input-validation/SKILL.md
  skills/skill-loader/SKILL.md
Due: cross-references
