Repository williamzujkowski/standards: changes, and which pre-commit hooks are due for each by the changed paths.
All: standards-metadata, manifest-validation, cross-references, token-efficiency

standards-metadata:
  name: Check standards metadata
  entry: python lint/standards-linter.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false

manifest-validation:
  name: Validate MANIFEST.yaml
  entry: python tests/validate_cross_references.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  args:
  - --check-manifest-only

cross-references:
  name: Check cross-references
  entry: python tests/validate_cross_references.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: false
  args:
  - --check-links-only

token-efficiency:
  name: Check token efficiency
  entry: python tests/validate_token_efficiency.py
  language: python
  pass_filenames: false
  args:
  - --summary-only

fix: resolve remaining CI validation issues
  .vscode/nist-extension/README.md
  .vscode/nist-extension/package.json
  .vscode/nist-extension/snippets/nist-python-snippets.json
  .vscode/nist-extension/snippets/nist-snippets.json
  .vscode/nist-extension/src/data/controlsLoader.ts
  .vscode/nist-extension/src/extension.ts
  .vscode/nist-extension/src/providers/codeActionProvider.ts
  .vscode/nist-extension/src/providers/completionProvider.ts
  .vscode/nist-extension/src/providers/controlProvider.ts
  .vscode/nist-extension/src/providers/diagnosticProvider.ts
  .vscode/nist-extension/src/providers/hoverProvider.ts
  .vscode/nist-extension/tsconfig.json
  docs/standards/CLOUD_NATIVE_STANDARDS.md
  docs/standards/CODING_STANDARDS.md
  docs/standards/CONTENT_STANDARDS.md
  docs/standards/COST_OPTIMIZATION_STANDARDS.md
  docs/standards/DATABASE_STANDARDS.md
  docs/standards/DATA_ENGINEERING_STANDARDS.md
  docs/standards/DEVOPS_PLATFORM_STANDARDS.md
  docs/standards/EVENT_DRIVEN_STANDARDS.md
  docs/standards/FRONTEND_MOBILE_STANDARDS.md
  docs/standards/GITHUB_PLATFORM_STANDARDS.md
  docs/standards/KNOWLEDGE_MANAGEMENT_STANDARDS.md
  docs/standards/LEGAL_COMPLIANCE_STANDARDS.md
  docs/standards/MICROSERVICES_STANDARDS.md
  docs/standards/ML_AI_STANDARDS.md
  docs/standards/MODEL_CONTEXT_PROTOCOL_STANDARDS.md
  docs/standards/MODERN_SECURITY_STANDARDS.md
  docs/standards/OBSERVABILITY_STANDARDS.md
  docs/standards/PROJECT_MANAGEMENT_STANDARDS.md
  docs/standards/SEO_WEB_MARKETING_STANDARDS.md
  docs/standards/TESTING_STANDARDS.md
  docs/standards/TOOLCHAIN_STANDARDS.md
  docs/standards/UNIFIED_STANDARDS.md
  docs/standards/WEB_DESIGN_UX_STANDARDS.md
Due: standards-metadata, cross-references, token-efficiency

fix: track .secrets.baseline for detect-secrets hook
  .gitignore
  .secrets.baseline
Due: none

fix: remove invalid detect-secrets argument
  .eslintrc.json
  .pre-commit-config.yaml
  examples/nist-templates/quickstart/.secrets.baseline
  monitoring/automated_reports.py
  pyproject.toml
Due: none

fix: update secrets baseline with false positives
  .secrets.baseline
Due: none

fix: simplify pre-commit hooks and remove redundant secret scanner
  .gitignore
  .markdownlint.yaml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix: resolve CI validation errors
  .gitleaks.toml
  .markdownlint.yaml
Due: none

fix: add missing IDs to all gitleaks rules
  .gitleaks.toml
Due: none

fix: resolve markdown linting issues
  .claude/agents/base-template-generator.md
  docs/guides/VALIDATION_PATTERNS.md
Due: cross-references

fix: disable bidirectional links validation temporarily
  tests/validate_cross_references.py
Due: none

fix: remove unsupported config-path parameter from gitleaks action
  .github/workflows/repository-health.yml
Due: none

fix: add fetch-depth to gitleaks checkout for full git history
  .github/workflows/repository-health.yml
Due: none

fix: remove .secrets.baseline file causing gitleaks failures
  .gitleaks.toml
  .secrets.baseline
Due: none

fix: exclude NIST catalog and package-lock from gitleaks scanning
  .gitleaks.toml
Due: none

fix: add workflow documentation to trigger fresh NIST workflow run
  .github/workflows/nist-compliance.yml
Due: none

fix: simplify NIST workflow to prevent hanging
  .github/workflows/nist-compliance.yml
Due: none

fix: remove trailing whitespace from NIST workflow
  .github/workflows/nist-compliance.yml
Due: none

fix: update STANDARDS_INDEX.md and exclude cache directories from audit
  config/audit-rules.yaml
  docs/guides/STANDARDS_INDEX.md
  reports/generated/hub-matrix.tsv
  reports/generated/linkcheck.txt
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
Due: cross-references

fix: auto-populate hub links for all guide documents
  docs/core/README.md
  docs/guides/STANDARDS_INDEX.md
  docs/nist/README.md
  docs/standards/UNIFIED_STANDARDS.md
  examples/README.md
  reports/generated/hub-matrix.tsv
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
Due: standards-metadata, cross-references, token-efficiency

fix: apply pre-commit formatting fixes
  docs/guides/STANDARDS_INDEX.md
  reports/generated/linkcheck.txt
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
Due: cross-references

fix: resolve failing workflows on master branch
  .github/workflows/lint-and-validate.yml
  .github/workflows/redundancy-check.yml
  docs/guides/STANDARDS_INDEX.md
Due: cross-references

fix: regenerate STANDARDS_INDEX.md with correct formatting
  docs/guides/STANDARDS_INDEX.md
Due: cross-references

fix: apply markdownlint formatting fixes
  CHANGELOG.md
  docs/guides/VALIDATION_PATTERNS.md
Due: cross-references

fix: exclude auto-generated STANDARDS_INDEX.md from markdownlint
  .pre-commit-config.yaml
Due: none

fix: add retry logic and caching for npm install to handle rate limiting
  .github/workflows/lint-and-validate.yml
Due: none

docs: improve accuracy and remove unverifiable claims
  CHANGELOG.md
  CLAUDE.md
  README.md
Due: cross-references

fix(claude.md): improve accuracy and remove unverifiable claims
  CLAUDE.md
Due: cross-references

feat(readme): redesign with compelling elevator pitch and streamlined onboarding
  README.md
Due: cross-references

fix: resolve CI failures for README update
  README.md
  docs/guides/STANDARDS_INDEX.md
  reports/generated/linkcheck.txt
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
Due: cross-references

fix: resolve remaining CI issues
  docs/guides/STANDARDS_INDEX.md
  reports/generated/linkcheck.txt
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
Due: cross-references

fix: resolve pre-commit and compliance failures
  README.md
  scripts/check_whitespace.sh
Due: cross-references

fix: resolve hub violations for STANDARDS_INDEX.md
  docs/guides/STANDARDS_INDEX.md
  reports/generated/linkcheck.txt
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
Due: cross-references

fix: regenerate STANDARDS_INDEX.md to resolve redundancy check
  docs/guides/STANDARDS_INDEX.md
Due: cross-references

fix: resolve pre-commit hook issues
  reports/generated/hub-matrix.tsv
  reports/generated/linkcheck.txt
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
Due: cross-references

fix: resolve script conflicts and ensure pre-commit compliance
  config/audit-rules.yaml
  docs/README.md
  reports/generated/hub-matrix.tsv
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
  scripts/ensure-hub-links.py
  scripts/generate-audit-reports.py
Due: cross-references

fix: properly preserve STANDARDS_INDEX.md AUTO-LINKS and ensure script compliance
  config/audit-rules.yaml
  docs/guides/STANDARDS_INDEX.md
  reports/generated/hub-matrix.tsv
  reports/generated/structure-audit.json
  scripts/ensure-hub-links.py
  scripts/generate_standards_index.py
Due: cross-references

fix: apply pre-commit hook formatting
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
  scripts/generate_standards_index.py
Due: cross-references

feat: add GitHub Pages documentation site
  .github/workflows/deploy-pages.yml
  docs/Gemfile
  docs/Gemfile.local
  docs/_config.yml
  docs/_includes/head-custom.html
  docs/_layouts/default.html
  docs/_layouts/home.html
  docs/assets/css/style.scss
  docs/assets/js/search.js
  docs/index.md
  docs/search.json
  tests/validate-pages.spec.js
Due: cross-references

fix: trigger Pages deployment on current branch for testing
  .github/workflows/deploy-pages.yml
Due: none

Path conditions:
  standards-metadata: any of: _STANDARDS\.md$|UNIFIED_STANDARDS\.md$
  manifest-validation: any of: MANIFEST\.yaml$
  cross-references: any of: \.md$
  token-efficiency: any of: _STANDARDS\.md$
