Repository williamzujkowski/standards: changes, and which pre-commit hooks are due for each by the changed paths.
All: standards-metadata, manifest-validation, cross-references, token-efficiency

.pre-commit-config.yaml:

# Pre-commit hooks for Standards Repository
# Enforces standards compliance before commits

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=5000]
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.yaml]
        exclude: ^(node_modules|examples|archive)/

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c, .yamllint.yaml]

  # Custom standards linting
  - repo: local
    hooks:
      # - id: fix-trailing-whitespace-custom
      #   name: Fix trailing whitespace (comprehensive)
      #   entry: bash fix_trailing_whitespace.sh
      #   language: system
      #   files: \.(md|yml|yaml|py|sh|json|js|ts|tsx|jsx|txt|rst|toml|cfg|ini|xml|html|css|scss|sass)$
      #   pass_filenames: false
      #   stages: [commit]

      - id: standards-metadata
        name: Check standards metadata
        entry: python lint/standards-linter.py
        language: python
        files: _STANDARDS\.md$|UNIFIED_STANDARDS\.md$
        additional_dependencies: [pyyaml]
        pass_filenames: false

      - id: manifest-validation
        name: Validate MANIFEST.yaml
        entry: python tests/validate_cross_references.py
        language: python
        files: MANIFEST\.yaml$
        additional_dependencies: [pyyaml]
        pass_filenames: false
        args: [--check-manifest-only]

      - id: cross-references
        name: Check cross-references
        entry: python tests/validate_cross_references.py
        language: python
        files: \.md$
        additional_dependencies: [pyyaml]
        pass_filenames: false
        args: [--check-links-only]

      - id: token-efficiency
        name: Check token efficiency
        entry: python tests/validate_token_efficiency.py
        language: python
        files: _STANDARDS\.md$
        pass_filenames: false
        args: [--summary-only]

  # Security scanning
  # - repo: https://github.com/Yelp/detect-secrets
  #   rev: v1.4.0
  #   hooks:
  #     - id: detect-secrets
  #       args: [--baseline, .secrets.baseline]

  # Shell script linting (for test scripts)
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: \.(sh|bash)$

  # Python code quality (for test and lint scripts)
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: \.(py)$
        exclude: ^(archive|vendor)/

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: \.(py)$
        args: [--profile, black]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
      - id: ruff
        files: \.(py)$
        args: [--fix]

  # Prevent direct commits to main/master
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, main, --branch, master]

fix: resolve all YAML linting and whitespace issues
  .github/workflows/auto-summaries.yml
  .github/workflows/redundancy-check.yml
  .github/workflows/standards-validation.yml
  .standards.yml
  examples/ai-generation-hints/typescript-hints.ts
  tools-config/github-actions-python.yml
Due: none

fix: remove trailing whitespace from check script and improve CI debugging
  scripts/check_whitespace.sh
Due: none

fix: resolve all YAML linting issues
  .github/workflows/standards-compliance.yml
  .markdownlint.yaml
  .pre-commit-config.yaml
  TOOLS_CATALOG.yaml
  examples/project-templates/docker/docker-compose.standards.yml
  examples/project-templates/kubernetes/deployment.standards.yaml
  standards-schema.yaml
Due: none

fix: resolve redundancy check and update STANDARDS_INDEX
  standards-api.json
Due: none

fix: Update NIST compliance workflow to handle missing package-lock.json and gist configuration
  .github/SECRETS_DOCUMENTATION.md
  .github/workflows/nist-compliance.yml
Due: cross-references

fix: Remove trailing whitespace from 7 files
  REORGANIZATION_SUMMARY.md
  docs/core/CLAUDE.md
  docs/core/GITHUB_WORKFLOWS.md
  docs/nist/NIST_QUICK_REFERENCE.md
  docs/nist/implement_800-53.md
  docs/standards/COMPLIANCE_STANDARDS.md
  prompts/nist-compliance/code-review-prompt.md
Due: standards-metadata, cross-references, token-efficiency

fix: Resolve yamllint errors in CI/CD workflow
  .yamllint.yaml
  tools-config/semgrep.yaml
  tools-config/trivy.yaml
Due: none

fix: Fix knowledge management test script for CI/CD
  tests/validate_knowledge_management.sh
Due: none

fix: Exclude OSCAL catalog files from large file check
  .github/workflows/standards-compliance.yml
Due: none

refactor: improve acronym naming conventions and update standard codes
  config/MANIFEST.yaml
  docs/core/CLAUDE.md
  docs/guides/KICKSTART_PROMPT.md
  docs/nist/NIST_IMPLEMENTATION_GUIDE.md
  docs/standards/CODING_STANDARDS.md
Due: standards-metadata, manifest-validation, cross-references, token-efficiency

fix: update validation regex to support hyphenated standard codes
  tests/validate_cross_references.py
Due: none

feat: add Model Context Protocol (MCP) standards
  README.md
  config/MANIFEST.yaml
  docs/core/CLAUDE.md
  docs/guides/STANDARDS_GRAPH.md
  docs/guides/STANDARDS_INDEX.md
  docs/standards/CODING_STANDARDS.md
  docs/standards/EVENT_DRIVEN_STANDARDS.md
  docs/standards/KNOWLEDGE_MANAGEMENT_STANDARDS.md
  docs/standards/MODEL_CONTEXT_PROTOCOL_STANDARDS.md
  docs/standards/MODERN_SECURITY_STANDARDS.md
  docs/standards/TESTING_STANDARDS.md
  scripts/validate_mcp_integration.sh
Due: standards-metadata, manifest-validation, cross-references, token-efficiency

fix: resolve markdown linting and cross-reference validation issues
  docs/core/CLAUDE.md
  docs/standards/CODING_STANDARDS.md
  docs/standards/EVENT_DRIVEN_STANDARDS.md
  docs/standards/KNOWLEDGE_MANAGEMENT_STANDARDS.md
  docs/standards/MODEL_CONTEXT_PROTOCOL_STANDARDS.md
  docs/standards/MODERN_SECURITY_STANDARDS.md
  docs/standards/TESTING_STANDARDS.md
  scripts/validate_mcp_integration.sh
Due: standards-metadata, cross-references, token-efficiency

fix: resolve markdown linting issues in generated files
  docs/core/CLAUDE.md
  docs/guides/STANDARDS_INDEX.md
  scripts/generate_standards_index.py
Due: cross-references

fix: remove trailing whitespace and fix line length in CLAUDE.md
  docs/core/CLAUDE.md
Due: cross-references

fix: remove final trailing whitespace in CLAUDE.md
  docs/core/CLAUDE.md
Due: cross-references

feat: update STANDARDS_INDEX.md with MCP integration
  docs/guides/STANDARDS_INDEX.md
  scripts/__pycache__/generate_standards_index.cpython-312.pyc
  scripts/generate_standards_index.py
Due: cross-references

fix: remove trailing whitespace from STANDARDS_INDEX.md
  docs/guides/STANDARDS_INDEX.md
Due: cross-references

fix: cleanup and fix GitHub Actions workflows
  .github/workflows/alerting-system.yml
  .github/workflows/contributor-recognition.yml
  .github/workflows/daily-health-check.yml
  .github/workflows/feedback-collection.yml
  .github/workflows/interaction-metrics.yml
  .github/workflows/monitoring-dashboard.yml
  .github/workflows/monthly-deep-analysis.yml
  .github/workflows/monthly-recognition.yml
  .github/workflows/quality-gates.yml
  .github/workflows/quarterly-system-review.yml
  .github/workflows/regression-testing.yml
  .github/workflows/standards-compliance.yml
  .github/workflows/task-recommendations.yml
  .github/workflows/weekly-comprehensive-validation.yml
  WORKFLOW_CLEANUP_REPORT.md
  docs/WORKFLOW_ANALYSIS_REPORT.md
Due: cross-references

docs: add final cleanup completion report
  CLEANUP_COMPLETION_REPORT.md
Due: cross-references

fix: YAML validation issues
  .github/DISCUSSION_TEMPLATE/general-discussion.yml
  .github/DISCUSSION_TEMPLATE/implementation-help.yml
  .github/DISCUSSION_TEMPLATE/showcase.yml
  .github/DISCUSSION_TEMPLATE/standards-rfc.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation_improvement.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .pre-commit-config.yaml
Due: none

docs: add workflow status summary report
  docs/WORKFLOW_STATUS_SUMMARY.md
Due: cross-references

fix: restore .gitleaks.toml for CI secret scanning
  .gitignore
  .gitleaks.toml
Due: none

feat: finalize audit gates and router/kickstart alignment
  .github/workflows/lint-and-validate.yml
  README.md
  config/audit-rules.yaml
  docs/README.md
  docs/core/README.md
  docs/guides/STANDARDS_INDEX.md
  docs/nist/README.md
  docs/standards/UNIFIED_STANDARDS.md
  examples/README.md
  examples/nist-templates/quickstart/test_auth_service.py
  micro/README.md
  monitoring/README.md
  reports/generated/PR_SUMMARY_FINAL.md
  reports/generated/hub-matrix.tsv
  reports/generated/linkcheck.txt
  reports/generated/standards-inventory.json
  reports/generated/standards-quick-reference.md
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
  scripts/ensure-hub-links.py
  scripts/fix-hub-violations.py
  scripts/generate-audit-reports.py
  tools-config/README.md
Due: standards-metadata, cross-references, token-efficiency

fix: update workflow to use upload-artifact@v4 and fix AUTO-LINKS recognition
  .github/workflows/lint-and-validate.yml
  scripts/generate-audit-reports.py
Due: none

fix: temporarily ignore hub violations in CI gates
  .github/workflows/lint-and-validate.yml
Due: none

docs(claude): embed Standards Gatekeeper block (v1) — idempotent markers
  CLAUDE.md
Due: cross-references

feat: implement Phase 4 post-merge hardening and monitoring
  .github/workflows/lint-and-validate.yml
  README.md
  config/audit-rules.yaml
  examples/README.md
  reports/generated/PHASE4_HARDENING_REPORT.md
  reports/generated/linkcheck.txt
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
Due: cross-references

feat: Phase 5 - Deterministic hub validation with zero false positives
  .github/workflows/lint-and-validate.yml
  reports/generated/PHASE5_VALIDATION_REPORT.md
  reports/generated/linkcheck.txt
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
  scripts/generate-audit-reports.py
  scripts/tests/test_hub_enforcement.py
Due: cross-references

fix: path-aware pattern matching for hub enforcement
  config/audit-rules.yaml
  reports/generated/hub-matrix.tsv
  reports/generated/structure-audit.json
  reports/generated/structure-audit.md
  scripts/generate-audit-reports.py
Due: cross-references

fix: remove trailing whitespace from markdown files
  CLAUDE.md
  docs/guides/USING_PRODUCT_MATRIX.md
  prompts/nist-compliance/VALIDATION_RUN.md
  reports/generated/PR_SUMMARY.md
  reports/generated/VERIFICATION_GUIDE.md
Due: cross-references

fix: knowledge management test failures
  docs/core/CLAUDE.md
  tests/validate_cross_references.py
  tests/validate_knowledge_management.sh
Due: cross-references
